/*
 * #####################################################################
 * ############                 TEXT FORMAT                #############
 * #####################################################################
 */
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/*
 * #####################################################################
 * ############             HEADER FORMATTING              #############
 * #####################################################################
 */
header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/sunset_header.jpg');
    min-height: 1px;
    min-width: 1px;
    background-position: center;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,1);
}

/*
 * #####################################################################
 * ############             FOOTER FORMATTING              #############
 * #####################################################################
 */
.page-footer {
    text-align: center;
}

.page-footer .contact {
    padding: 40px 0;
    background-color: #4682B4;
    color: #fff;
}

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
}

.page-footer .small-print {
    padding: 50px 0 40px;
    font-weight: 300;
}

.content-3
.page-footer .contact {
    font-size: 32px;
    font-weight: 700;
}

.text-light {
    color: rgba(255,255,255,.7);
}